extends layout

block content
    #mainLearn2Type.nav.show
        #start
            h1 Start Typing
            button#startTypingButton Click here...
        #word 
            .scoreTimer
                .score 
                    p score:
                    p#score 4
                .timer
                    p timer:
                    p#timer 9
            h1#wordId
        #input 
            h1#inputId
        #setHighScore
            h2 Enter your name to save your score:
            form
                input#inputName(type="text", name="highScore")
                button.small#setHighScoreButton(type="submit") ok
    #mainHighScores.nav
        h1 High Scores
        div#putHighScoresHere