extends layout

block content
    #mainLearn2Type.nav.show
        #start
            h1 Start Typing
            button#startTypingButton Click here...
        #word 
            .scoreTimer
                .score 
                    p score:
                    p#score 4
                .timer
                    p timer:
                    p#timer 9
            h1#wordId word
        #input 
            h1#inputId input
    #mainHighScores.nav
        h1 High Scores